@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #253858;
  background-color: #fff;
}

/* Headings styling overwrite from bootstrap */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

/* Navbar styling overwrite from bootstrap */
.navbar { 
	box-shadow: 0 1px 10px #ddd;
	border-bottom: 1px solid #ddd;
	padding: 0rem 1rem;
}

.navbar-toggler {
	margin-top: 0.75rem;
	padding: 0.25rem 0.50rem;
}
/*
.navbar-light .navbar-nav li.nav-item  {
	padding: 0.55rem 0.70rem;
}

.navbar-light .navbar-nav .active  {
	background-color: #ddd; 
	padding: 0.55rem 0.70rem;
}
*/

/* Breadcrumb styling overwrite from bootstrap */
.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item.active {
  color: #999999;
}

/* Sorting icons colors in normal and in sorting modes */
.table th i.fa-sort {
	color: #b4b4b4;
}

.table th i.fa-sort-alpha-asc, 
.table th i.fa-sort-alpha-desc, 
.table th i.fa-sort-numeric-asc, 
.table th i.fa-sort-numeric-desc {
	color: #636c72;
}

/* Custom withds */
.w-1rem { width: 1rem; }
.w-2rem { width: 2rem; }
.w-3rem { width: 3rem; }
.w-4rem { width: 4rem; }
.w-5rem { width: 5rem; }
.w-6rem { width: 6rem; }
.w-7rem { width: 7rem; }
.w-8rem { width: 8rem; }
.w-9rem { width: 9rem; }
.w-10rem { width: 10rem; }

/* Background Colors */
.bg-ffffff { background-color: #ffffff !important; }
.bg-f4f7f9 { background-color: #f4f7f9 !important; }

/* Text Colors */
.text-ffffff { color: #ffffff !important; }

/* overflow classes */
.overflow-y-auto { overflow-y: auto; }

/* hide normal */
.hide { display: none; }

/* max height */
.h-max-13rem { max-height: 13rem; }
.h-max-25rem { max-height: 25rem; }

.footer-border { border-top: 1px solid #d0d4d9; }

.loadingScreen {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	background-color: rgba(0,0,0,0.5);
}

.loadingScreen div {
	color: #fff;
}

.nav-tab-area {
	border: 1px solid #ddd;
	border-top: none;
	padding: 0.50rem;
}

/* client auto complete style in lead form */
.client-autocomplete .ui-autocomplete {
	max-height: 200px !important;
	overflow-y: auto;
	overflow-x: hidden;
}
* html .client-autocomplete .ui-autocomplete {
    height: 200px;
}

.ui-autocomplete-loading {
	background: #fff url('../images/autocomplete-loader.gif') right 5px center no-repeat !important;
}

.followup-messages {
	overflow-y: auto;
	max-height: 215px;
}