.w-td-action, .w-td-action3 {
  width: 6rem;
}

.table-booking-billing {
	font-size: 80%;
	font-weight: 400;
}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
	.w-td-action {
		width: 9rem;
	}

	.w-td-action3 {
		width: 7rem;
	}
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}